IBKR_HOST=127.0.0.1
IBKR_PORT_PAPER=4002
IBKR_PORT_LIVE=4001
IBKR_CLIENT_ID_PAPER=1
IBKR_CLIENT_ID_LIVE=2

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=trading
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

TEAMS_WEBHOOK_URL=
IBKR_FLEX_TOKEN=
IBKR_FLEX_QUERY_ID=
