hawk-sdk==0.0.19
google-cloud-storage==3.0.0
pydantic
PyYAML
pandas
fsspec
gcsfs
pyarrow
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
db-dtypes
google-cloud-bigquery
pymsteams
pandas_gbq
pandas_market_calendars